body {
    display: flex;
    justify-content: center;
    padding: 1rem;
}


#colored-rect {
    padding: 1rem;
    background-color: rgb(104, 104, 245);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}
.cell {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;

}

.column-control {
    display: flex;
    justify-content: center;
}

.column-control:hover{
    color:yellow;
    cursor: pointer;

}
.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}