#weather-app {
  font-family: Arial, Helvetica, sans-serif;
}

#current-weather {
  text-align: center;
  margin: 10px 5px;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
  border-radius: 7px;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

h1 {
  color: darkblue;
}

.temperature {
  font-size: 2rem;
  font-weight: bold;
}

.condition-sunny {
  color: brown;
  background-color: yellow;
  padding: 10px 20px;
  border-radius: 25px;
  margin: 10px 0px;
  display: inline-block;
}
.details {
  font-size: 0.75rem;
  margin-top: -50x;
}

.alert-warning {
    font-size: 0.6rem;
    background-color: rgb(233, 181, 114);
    padding: 10px;
    border-radius: 8px;
    margin: 20px 0px;
    border-left: 5px solid;
    border-left-color: brown;
}

strong {
    font-weight: bold;
}

h2 {
    color:darkblue;
    font-size: 1.5rem;
    border-bottom: 2px solid lightblue;

}
