.square {
  width: 20px;
  height: 20px;
}

.row-label {
  width: 40px;
  height: 20px;
  font-size: 0.8rem;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.column-label {
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 0.8rem;
}

.light {
  background-color: #ffdda7;
}
.dark {
  background-color: #3e240e;
}

.board-row,
.column-labels {
  display: flex;
  flex-direction: row;
}
