body {
    margin: 0;
    padding: 0;
    background-color: #001e66;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#aquarium {
    background-image: url('../assets/background.png');
    width: 600px;
    aspect-ratio: 16/9;
    background-size: cover;
    border: 15px solid black;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.fish {
    position: absolute;    
}